<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
   <welcome-file-list>
        <welcome-file>faces/Front/index.xhtml</welcome-file>
    </welcome-file-list>
     <welcome-file-list>
        <welcome-file>views/front-end/NoUsuario/index.xhtml</welcome-file>
    </welcome-file-list>
    <!--Start Filter -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filtro.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/views/*</url-pattern>
    </filter-mapping>
    <!-- End Filter -->
        
    <!--Start Config UploadFile -->
     
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>51200</param-value>
        </init-param>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>C:\Users\Jotamarios\Desktop\Install\Clonada 17 Diciembre\Metropolis-master\build\web\images</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
        
        
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>commons</param-value>
    </context-param>    
    <!--<context-param>
        <param-name>MAILFROM</param-name>
        <param-value>info@metropolis.com.co</param-value>
    </context-param>
    <context-param>
        <param-name>MAILPASS</param-name>
        <param-value>informacion</param-value>
    </context-param>
    
    -->
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/WEB-INF/error.html</location>
    </error-page>
    <context-param>
        <param-name>MAILFROM</param-name>
        <param-value>enviosmetropolis@gmail.com</param-value>
    </context-param>    
    <context-param>
        <param-name>MAILPASS</param-name>
        <param-value>prueba123</param-value>
    </context-param>
    <context-param>
        <param-name>MAILPORT</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>SMTPHOST</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>SMTPAUTH</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>SMTP_SSL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>APIKEY</param-name>
        <param-value>4Vj8eK4rloUd272L48hsrarnUA</param-value>
    </context-param>
    <context-param>
        <param-name>MERCHANDID</param-name>
        <param-value>508029</param-value>
    </context-param>
    <context-param>
        <param-name>ACCOUNTID</param-name>
        <param-value>512326</param-value>
    </context-param>
    <context-param>
        <param-name>URLPAYU</param-name>
        <param-value>https://sandbox.gateway.payulatam.com/ppp-web-gateway/</param-value>
    </context-param>
    <context-param>
        <param-name>URLRETORNO</param-name>
        <param-value>www.metropolis.com.co/Metropolis2/faces/Front/Payu_landing.xhtml</param-value>
    </context-param>
    <!--End Config UploadFile -->
</web-app>